<div class="text-center" >
  <h2 id="bp-h">{{title}}</h2>
  <p id="bp-p">{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  {{> updatedelete this}}
  <div class=" text-center">
       <button class="btn btn-sm btn-danger blogpost-delete" data-id="{{id}}">DELETE</button>
  </div>
</div>

<script src="/js/updatedelete.js"></script>